// Colors via Material Design: https://material.io/design/color/#tools-for-picking-colors
// https://material.io/resources/color/#!/?view.left=0&view.right=1&primary.color=17bf63

// To create more shades of gray for dark theme we take gray-900 and adjust
// the Lightness in HSL (use Chrome) up and down percentage points as seen below.
// gray-800 #2d3748; hsl(218, 23%, 23%) -- via Tailwind
// gray-830 #262f40; hsl(220, 26%, 20%)
// gray-870 #202837; hsl(220, 26%, 17%)
// gray-900 #1a202c; hsl(220, 26%, 14%) -- via Tailwind
// gray-930 #131720; hsl(220, 26%, 10%)
// gray-970 #0b0e13; hsl(220, 26%, 6%)

// Default colors
:root {
  --color-primary: #17bf63; // rgb(23, 191, 99, 1)
  --text-on-color-primary: #fff; // Color for text on primary btn and bg

  // Light is default
  --bg-bright: #fff; // bg-white
  --bg-gray: #f7fafc; // gray-100
  --border-gray: #edf2f7; // gray-200
  --text-bright: #1a202c; // gray-900
  --text-color: #4a5568; // gray-700
  --text-muted: #718096; // gray-600 -- Same for light/dark
  --text-faint: #a0aec0; // gray-500

  // Dark if preferred at OS level by user
  @media (prefers-color-scheme: dark) {
    --bg-bright: #1a202c; // gray-900
    --bg-gray: #131720; // bg-gray-930
    --border-gray: #202837; // gray-870
    --text-bright: #edf2f7; // gray-200
    --text-color: #a0aec0; // gray-500
    // --text-muted: #718096; // gray-600
    --text-faint: #4a5568; // gray-700
  }
}

body[data-color-scheme='light'] {
  --bg-bright: #fff; // bg-white
  --bg-gray: #f7fafc; // gray-100
  --border-gray: #edf2f7; // gray-200
  --text-bright: #1a202c; // gray-900
  --text-color: #4a5568; // gray-700
  // --text-muted: #718096; // gray-600
  --text-faint: #a0aec0; // gray-500
}

body[data-color-scheme='dark'] {
  --bg-bright: #1a202c; // gray-900
  --bg-gray: #131720; // bg-gray-930
  --border-gray: #202837; // gray-870
  --text-bright: #edf2f7; // gray-200
  --text-color: #a0aec0; // gray-500
  // --text-muted: #718096; // gray-600
  --text-faint: #4a5568; // gray-700
}

body[data-color-primary='teal'] {
  --color-primary: #00bcd4; // rgb(0, 187, 211)
}

body[data-color-primary='pink'] {
  --color-primary: #ec407a; // rgb(236, 64, 122)
}
