/* See tailwind.config.js for color primary: 'var(--color-primary)'
   and .container setup. */

@tailwind base;
@tailwind components;
@tailwind utilities;

// CSS Variables for color
@import 'color_variables';
@import 'colors_base';
@import 'colors_extra';

// Custom CSS
@layer components {
  .table-arabic-last-col td:last-child {
    @apply text-right text-lg p-1;
  }

  .gist h1,
  .gist h2,
  .gist h3,
  .gist h4,
  .gist p {
    color: var(--color-primary);
  }

  /* Overrides */
  .gist .gist-file {
    border: none !important;
  }

  .gist .gist-data {
    background-color: inherit !important;
  }
}
