<div class="border-b border-gray py-4 w-full">
  <div class="container max-w-4xl">
    <div class="flex items-center justify-between font-mono">
      <a href="{{ .Site.Home.Permalink }}" class="text-primary font-extrabold">
        {{ .Site.Title }}
      </a>

      <div class="flex items-center">
        <a
          href="{{ .Site.Params.about_path }}"
          class="text-color font-extrabold block"
          >About me</a
        >

        <div class="flex ml-4">
          <button
            type="button"
            data-action="color-scheme#toggleScheme"
            aria-label="Toggle dark mode"
            title="Toggle dark mode"
            class="py-1 px-2 cursor-pointer text-color"
          >
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
              />
            </svg>
          </button>
          <button
            type="button"
            data-action="color-scheme#toggleColor"
            aria-label="Change primary color"
            title="Change primary color"
            class="py-1 px-2 cursor-pointer text-primary"
          >
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
