{{ define "main" }}
  <div class="container my-16 max-w-4xl">
    {{ .Content }}

    {{ range .Pages }}
      <div class="mt-12">
        <h2 class="title">
          <a href="{{ .Permalink }}" class="text-bright">
            {{ .Title }}
          </a>
        </h2>

        <h4 class="subtitle mb-0">
          {{ .Summary }}
        </h4>

        <p class="font-mono text-sm mt-2">
          {{ if not (.Params.hide_date) }}
            <a href="{{ .Permalink }}" class="text-faint" rel="nofollow">
              {{- .Date.Format "Jan 2, 2006" -}}
            </a>
            <span class="text-faint">·</span>
          {{ end }}

          <a href="{{ .Permalink }}" rel="nofollow">
            {{ if not (.Params.hide_read_time) }}
              {{ .ReadingTime }} min read
            {{ else }}
              Read more…
            {{ end }}
          </a>
        </p>
      </div>
    {{ end }}
  </div>
{{ end }}
