{{ define "main" }}
  <div class="container my-16 max-w-4xl">
    {{ .Content }}

    {{ range .Pages }}
      <div class="mt-12">
        <a href="{{ .Permalink }}" class="mt-2 block">
          <p class="text-xl md:text-2xl lg:text-3xl font-semibold text-bright">
            {{ .Title }}
          </p>

          <p class="mt-3 md:text-lg lg:text-xl text-muted">
            {{ .Summary }}
          </p>
        </a>

        <div class="font-mono text-xs md:text-sm mt-3 space-x-4">
          {{ if not (.Params.hide_date) }}
            <span class="text-muted">
              {{- .Date.Format "Jan 2, 2006" -}}
            </span>
          {{ end }}

          <span>
            {{ if not (.Params.hide_read_time) }}
              <a href="{{ .Permalink }}" class="text-primary hover:underline">
                {{ .ReadingTime }} min read
              </a>
            {{ else }}
              <a href="{{ .Permalink }}" class="text-primary hover:underline">
                Read more…
              </a>
            {{ end }}
          </span>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
